<!DOCTYPE html>
<html>
<head>
    <title>Feature Form</title>
</head>
<body>
    <form action="{{url_for('predict_datapoint')}}" method="POST">
        <!-- Loop through the features -->
        {% for feature in features %}
        <div class="form-group">
            <label for="{{ feature }}">{{ feature }}:</label>
            <input type="text" id="{{ feature }}" name="{{ feature }}" placeholder="Enter {{ feature }} value (float)">
        </div>
        {% endfor %}
        <input type="submit" value="Submit" >

        
    </form>
    <h1>{{result}}</h1>
</body>
</html>

{{final_result}}
</body>
</html>